@charset "utf-8";

@font-face {
  font-family: "plantc";
  src: url("TTF/plantc.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Han Serif";
  src:
    url("TTF/fonttowoff2_toolnb_2855.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body :lang(zh) {
  font-family: "plantc", "Source Han Serif", serif;
}

:root {
  --color-font: #404040;
  --color-background: #fdfdfd;
  --view-minmax: calc((100vw - 500px) / (1920 - 500));
}

body {
  background: var(--color-background);
  font-family: "plantc", serif;
  color: var(--color-font);
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/*************
	Header
**************/


#intro {
  --size-h1: calc(42px + (88 - 42) * var(--view-minmax));
  --size-h2: calc(20px + (28 - 20) * var(--view-minmax));
  min-height: 110vh;
}

@media (min-width: 600px) {
  #intro {
    display: flex;
    width: 95vw;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

#intro header {
  display: grid;
  grid-template-columns: minmax(20%, 330px) 75px minmax(max-content, 1fr) 75px minmax(20%, 300px);
  grid-template-rows: 176px 55px minmax(max-content, 1fr) 35px 175px;
  grid-template-areas:
    ". . . . rs"
    "ls . . . rs"
    "ls . h1 . rs"
    "ls . h2 . rs"
    "ls . h2 . .";
  transform: translateY(-58px);
  transition: all 2s;
}

#intro h1 {
  grid-area: h1;
  line-height: calc(var(--size-h1) * 1.382);
  font-size: var(--size-h1);
  align-self: center;
  transform: translateZ(0);
}

#intro h2 {
  grid-area: h2;
  line-height: calc(var(--size-h2) + 10px);
  font-size: var(--size-h2);
  opacity: .8;
}

#intro h2:lang(zh) {
  --size-h2: calc(22px + (34 - 22) * var(--view-minmax));
}

.slice {
  width: 100%;
  height: 100%;
  border-radius: 43px;
  opacity: 0.9;
  box-shadow: 0 20px 90px 0 rgba(0, 0, 0, .08), 0 9px 30px 0 rgba(0, 0, 0, .1);
}

#slice-left {

  background: url("https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone11-select-2019-family?wid=882&hei=1058&fmt=jpeg&qlt=80&.v=1567022175704") no-repeat 50%;
  background-size: cover;
}

#slice-right {
  background: url("https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone11-select-2019-family?wid=882&hei=1058&fmt=jpeg&qlt=80&.v=1567022175704") no-repeat 50%;
  background-size: cover;

}

.slice.left {
  grid-area: ls;
  background-position: left;
}

.slice.right {
  grid-area: rs;
  background-position: right;
}

@media (max-width: 900px) {
  #intro header {
    grid-template-columns: 50px 110px 1fr 150px;
    grid-template-rows: 179px 86px 60px 261px 84px;
    grid-template-areas:
      ". h1 h1 h1"
      ". h2 h2 ."
      ". . . rs"
      "ls ls . rs"
      "ls ls . .";
    transform: translateY(5vh);
  }

  #intro h2 {
    grid-column-end: rs;
  }
}